<!--{% load static %}-->

<!--<nav class="navbar navbar-expand-lg custom-navbar">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="https://www.youtube.com/watch?v=Yj6V_a1-EUA">-->
<!--            <img src="{% static 'files/travel.svg' %}" alt="Logo" style="height: 50px;" />-->
<!--        </a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> &lt;!&ndash; Centered navbar items &ndash;&gt;-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}">მთავარი</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="{% url 'about'%}">შესახებ</a>-->
<!--                </li>-->
<!--                {% if request.user.is_authenticated %}-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.id %}">პროფილი</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">გამოსვლა</a>-->
<!--                </li>-->
<!--                {% else %}-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">შესვლა</a>-->
<!--                </li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--            <form class="d-flex" role="search" action="">-->
<!--                <input class="form-control me-2" type="search" name="q" placeholder="Search Books" aria-label="Search">-->
<!--                <button class="btn btn-purple" type="submit">Search</button>-->
<!--            </form>-->

<!--            {% if request.user.is_authenticated %}-->
<!--            <div style="margin: 0px 30px;">-->
<!--                <a href="{% url 'profile' request.user.id %}">-->
<!--                    <img src="{{ request.user.avatar.url }}" width="40px" height="40px" style="border-radius:50%">-->
<!--                    {{ request.user.username }}-->
<!--                </a>-->
<!--            </div>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->{% load static %}

<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.youtube.com/watch?v=Yj6V_a1-EUA">
            <img src="{% static 'files/travel.svg' %}" alt="Logo" style="height: 50px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> <!-- Centered navbar items -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">მთავარი</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">რუკა</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.id %}">ტურები</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'update_user' %}">პროფილი</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">გამოსვლა</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">შესვლა</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" action="">
                <input class="form-control me-2" type="search" name="q" placeholder="Search Books" aria-label="Search">
                <button class="btn btn-purple" type="submit">Search</button>
            </form>

            {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center ms-3">
                <a href="{% url 'profile' request.user.id %}" class="d-flex align-items-center">
                    <img src="{{ request.user.avatar.url }}" width="40" height="40" style="border-radius:50%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);">
                </a>
                <span class="ms-2">{{ request.user.username }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<!--</nav>-->
