<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .genres {
        margin: 10px 10px;
    }
</style>

<div class="home-container">
    <div class="genres">
        <h4>Type:</h4>
        <div class="genres-list">
            <a href="{{ request.path }}">All</a>
            {% for genre in genres %}
                <a href="{{ request.path }}?q={{ genre.name }}">{{ genre }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="object">
            <h1>{{ heading }}</h1>
        </div>
        <hr>
        <br>

        <a href="{% url 'add_travel' %}" class="btn btn-add-tour">Add New Travel</a>
        <br><br>

        <div class="card-container">
            {% for travel in travels %}
                <div class="card-column" style="width: 18rem; margin: 5px;">
                    <div class="card">
                        <img src="{{ travel.picture.url }}" class="card-img-top" alt="Travel cover">
                        <div class="card-body">
                            <h5 class="card-title">{{ travel.name }} ID {{ travel.creator.id }}</h5>
                            <h6 class="card-author">{{ travel.autor }}</h6>
                            <p class="card-text">{{ travel.description|slice:":20" }}</p>

                            {% if request.user.is_authenticated %}
                                <a href="{% url 'reading' travel.id %}" class="btn btn-primary">Read</a>
                                {% if travel in request.user.travels.all %}
                                    <a href="{% url 'drop' travel.id %}" class="btn btn-secondary">Drop</a>
                                {% else %}
                                    <a href="{% url 'adding' travel.id %}" class="btn btn-success">Add</a>
                                {% endif %}
                                {% if request.user == travel.creator %}
                                    <a href="{% url 'delete_travel' travel.id %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
